
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Matrix - Responsive Tile-Based Template</title>
<link href="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/style.css" title="style" rel="stylesheet" type="text/css" />
<link id="clink" href="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/css/style-blue.css" title="style" rel="stylesheet" type="text/css" media="screen" />
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/jquery.min.js" type="text/javascript"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/jquery.masonry.min.js" type="text/javascript"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/MetroJs.lt.js" type="text/javascript"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/jquery.fancybox-1.3.4.js" type="text/javascript" charset="utf-8"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/hoverintent.js" type="text/javascript" charset="utf-8"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/organictabs.jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/scripts/javascript.js" type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div class="adcenter"><script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script></div>
<div id="bodypat">
<section id="container">
    <div id="colorchanger">
    <a href="?theme=blue" class="cblue cbox" title="Blue Theme"><span class="blue">Blue</span></a>
    <a href="?theme=red" class="cred cbox" title="Red Theme"><span class="red">Red</span></a>
    <a href="?theme=green" class="cgreen cbox" title="Green Theme"><span class="green">Green</span></a>
    <a href="?theme=magenta" class="cmagenta cbox" title="Magenta Theme"><span class="magenta">Magenta</span></a>
    <a href="?theme=purple" class="cpurple cbox" title="Purple Theme"><span class="purple">Purple</span></a>
    <a href="?theme=teal" class="cteal cbox" title="Teal Theme"><span class="teal">Teal</span></a>
    <a href="?theme=lime" class="clime cbox" title="Lime Theme"><span class="lime">Lime</span></a>
    <a href="?theme=brown" class="cbrown cbox" title="Brown Theme"><span class="brown">Brown</span></a>
    <a href="?theme=pink" class="cpink cbox" title="Pink Theme"><span class="pink">Pink</span></a>
    <a href="?theme=mango" class="cmango cbox" title="Mango Theme"><span class="mango">Mango</span></a>
    <h4>Theme Color Selector</h4>
    </div>


<!-- BEGIN MAIN PAGE CONTENT -->
<section class="mainpage">
  <!-- BEGIN TOGGLE CONTENT -->
  <div class="toggle-button"><span class="toggle-indicator">+</span></div>
    
    <div class="toggle-content close">
        <div class="flexslider mainslide">
        <ul class="slides">
            <li>
            <img src="/media/img/T11.jpg" alt="Responsive"/>
            </li>
            <li>
            <img src="/media/img/T22.jpg" alt="Tile Design"/>
            </li>
            <li>
            <img src="/media/img/T33.jpg" alt="Customizability"/>
            </li>
        </ul>
        </div><!-- end .flexslider -->
    
    <div class="quote-bg1"><div class="quote-w">影虫网，分享你看过的感动，传递更多美好。</div></div>
    
    </div><!-- end .toggle-content -->
    <!-- END TOGGLE CONTENT -->
</section><!-- end #mainpage -->

<!-- BEGIN TILE CONTENT -->
<section id="content-mos" class="centered clearfix">
<!-- Tile 1 -->
<a href="#article-1" class="lightbox" rel="section">
    <div class="tile large live" data-stops="0,25%,50%,75%,100%" data-speed="3000" data-delay="0" data-direction="horizontal" data-stack="true">
        <div class="live-front">
          <img class="live-img" src="/media/img/7.jpg" alt="Article 1" />
        </div>
        <div class="live-back">
          <img class="live-img" src="/media/img/7.jpg" alt="Article 1" />
        </div>
        
        <span class="tile-cat red">痞子英雄</span>
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="article-1" class="lb-article">
    <div class="article-img">
        <div class="flexslider postslide">
        <ul class="slides">
      <li>
        <img class="tile-pre-img" src="/media/img/8.jpg" alt="Article 1" />
        </li>
        <li>
        <img class="tile-pre-img" src="/media/img/9.jpg" alt="Article 1" />
        </li>
        </ul>
        </div>
    </div>
    <h1 class="lb-title"><a href="singleblogpost-1.html">痞子英雄</a></h1>
    <span class="postcat redtxt">介绍</span>
    <div class="lb-excerpt">
        <p>《痞子英雄：黎明升起》是2014年十一档上映的唯一一部3D动作大片，本片是由蔡岳勋导演， 主要演员有赵又廷、林更新、黄渤、 张钧甯、修杰楷、关颖、邹承恩、刘碧丽、古力娜扎等<b>该片讲述了连环爆炸案让海港城陷入瘫痪，警员吴英雄在查案途中与被绑成人肉炸弹的徐达夫再度相遇，不料二人却卷入敌人的毁灭计划中</a></b>...</p>  
    </div>
    </article>
    </div>
   
<!-- Tile 2 -->
<a href="#article-2" class="lightbox" rel="section">
    <div class="tile medium live" data-stops="0,75%,100%" data-speed="750" data-delay="1500">
      <div class="live-front blue">
          <img class="live-img" src="/media/img/D1.jpg" alt="Article 2" />
        </div>
        <div class="live-back green">
          <img class="live-img" src="/media/img/D2.jpg" alt="Article 2" />
        </div>
      
        <span class="tile-cat lime">霍比特人</span>
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="article-2" class="lb-article">
    <div class="article-img">
      <div class="flexslider postslide">
        <ul class="slides">
        <li>
      <img class="tile-pre-img" src="/media/img/D3.jpg" alt="Article Two" />
        </li>
        <li>
      <img class="tile-pre-img" src="/media/img/D4.jpg" alt="Article Two" />
        </li>
        </ul>
        </div>
    </div>
    
    <h1 class="lb-title"><a href="singleblogpost-1.html">霍比特人</a></h1>
    <span class="postcat limetxt">介绍</span>
    <div class="lb-excerpt">
        <p>魔幻史诗经典《魔戒》三部曲前传系列之《霍比特人》上映于2012年12月14日。《霍比特人》分为上中下三部、以背靠背的方式同时拍摄，整个拍摄将历时254天，总耗资达到4亿多美元。该影片讲述霍比特人比尔博与巫师甘道夫和13个矮人旅行探险中土世界， <b>寻找一个被恶龙偷去的一个属于矮人珍贵宝物的故事。</a></b>...</p>
       
    </div>
    </article>
    </div>
    
<!-- Tile 3 -->
<a href="#portfolio-1" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/F2.jpg" alt="Project One" />
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-1" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/F3.jpg" alt="Project One" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">唐山大地震</a></h1>
        <span class="projectcat redtxt">介绍</span>
        <div class="lb-desc">
            <p>影片《唐山大地震》是根据张翎的小说《余震》改编而成，由导演冯小刚执导。徐帆、张静初、李晨、陈道明、陆毅和陈瑾等联袂出演。影片于2010年7月12日在中国河北省唐山市举行全球首映式。影描述1976年发生在中国唐山的7.8级大地震中，一位母亲只能选择救姐弟之一。母亲最终选择救了弟弟，但姐姐却奇迹生还，后被解放军收养，32年后家人意外重逢，心中的裂痕等待他们去修补的悲感情节，再一次勾起了当代人们对那一段惨痛灾难的回忆。</a></b>...</p>        
        </div>
    </div>
    </article>
    </div>

<!-- Tile 4 -->
<a href="#portfolio-2" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/P1.jpg" alt="Project Two" />
    </div>
</a>
    <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-2" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/P2.jpg" alt="Project Two" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">变形金刚</a></h1>
        <span class="projectcat tealtxt">介绍</span>
        <div class="lb-desc">
            <p>《变形金刚》（Transformers）真人电影是一部写实风格的科幻电影。该影片是以20世纪80年代的美国孩之宝玩具公司发行的变形金刚动画以及玩具等系列为基础的创新作品。电影由迈克尔·贝担纲导演，斯蒂芬·斯皮尔伯格担任执行制片人，希亚·拉博夫、梅根·福克斯、乔什·杜哈明主演。影片于2007年7月3日在美国上映。</a></b>...</p>
           
        </div>
    </div>
    </article>
    </div>

<!-- Tile 5 -->
<a href="#portfolio-3" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/A1.jpg" alt="Project Three" />
    </div>
</a>
    <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-3" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/A2.jpg" alt="Project Three" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">太平轮</a></h1>
        <span class="projectcat redtxt">介绍</span>
        <div class="lb-desc">
            <p>《太平轮》是由小马奔腾、游族影业、乐视影业、中影、华谊兄弟联合出品的集战争、爱情、灾难多位元素于一体的影片。由章子怡、金城武、黄晓明、宋慧乔、佟大为、长泽雅美等主演。电影以上世纪40年代的纷乱时局为背景，讲述了三对恋人跨越时代的爱情故事。影片上部《太平轮（上）》于2014年12月2日在中国内地上映。</a></b>...</p>
        </div>
    </div>
    </article>
    </div>
    
<!-- Tile 6 -->
<a href="#quotation-1" class="lightbox" rel="section">
    <div class="tile small live" data-mode="flip" data-stops="100%" data-speed="750" data-delay="4000">
      <div class="live-front">
          <img class="live-img" src="/media/img/C1.jpg" alt="Quotation" />
        </div>      
    </div>
</a>
    <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="quotation-1" class="lb-article">
    <div class="lb-quote">
    《集结号》是2007年12月18日上映的一部以第二次国共内战和朝鲜战争为题材的中国电影，改编自杨金远的小说《官司》导演为冯小刚，主要演员有张涵予、邓超、廖凡、胡军等。
    </div>
    </article>
    </div>

<!-- Tile 7 -->
<a href="#portfolio-5" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/M1.jpg" alt="Project Five" />
    </div>
</a>
    <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-5" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/M2.jpg" alt="Project Five" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">熊出没</a></h1>
        <span class="projectcat tealtxt">介绍</span>
        <div class="lb-desc">
            <p>《熊出没》由华强数字动漫有限公司出品的104集动画片。《熊出没》作为央视少儿频道春节特别节目于2012年1月22日除夕夜19:50热闹开播，当晚连续播出10集，之后每晚9点到10点六集连播，陪伴全国小观众一起开心过大年。该片用夸张的卡通手法讲述森林保护者熊兄弟与破坏森林、采伐原木、并占领土地开发创业实验田的光头强之间上演的一幕幕搞笑对决。</a></b>...</p>
           
        </div>
    </div>
    </article>
    </div>
    
<!-- Tile 8 -->
<a href="#portfolio-4" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/T1.jpg" alt="Project Four" />
    </div>
</a>
    <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-4" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/T2.jpg" alt="Project Four" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">一步之遥</a></h1>
        <span class="projectcat tealtxt">介绍</span>
        <div class="lb-desc">
            <p>《一步之遥》（Gone With The Bullets）是由北京不亦乐乎电影文化发展有限公司于2014年出品的电影，该影片由姜文执导，姜文、葛优、周韵、舒淇等主演，影片剧情改编自历史上真实的民国奇案“阎瑞生案”。影片讲述的是1920年的上海，花国大选如火如荼，最终归属扑朔迷离。操纵大选的几个海外回来的上海小开想借此大捞一把，还请动了上海滩的头面人物出席大选决赛，选举结束时后，一场意外，使一切发生了翻天覆地的变化的故事。</a></b>...</p>    
        </div>
    </div>
    </article>
    </div>

<!-- Tile 9 -->
    <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
      <div class="live-front red">
        <span class="tile-text">影虫网</span>
        </div>
        <div class="live-back green">
        <span class="tile-text">分享感动</span>
        </div>
    </div>
    
<!-- Tile 10 -->
<a href="#video-1" class="lightbox" rel="section">
    <div class="tile small live" data-mode="flip" data-stops="100%" data-speed="750" data-delay="3000">
      <div class="live-front">
          <img class="live-img" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/articles/video1.jpg" alt="Video 1" />
        </div>
        <div class="live-back blue">
          <img class="live-img" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/video.png" alt="Video Icon" />
        </div>
    </div>
</a>
    <!-- Lightbox Article Preview -->
    <div class="tile-pre"> 
    <article id="video-1" class="lb-article">  
    <div class="lb-video"> 
<iframe src="http://www.cssmoban.com/?video/3114617?loop=1" width="640" height="272"></iframe> <p><a href="http://vimeo.com/3114617">SCINTILLATION</a> from <a href="http://vimeo.com/chassaingxavier">Xavier Chassaing</a> on <a href="http://vimeo.com">Vimeo</a>.</p> <p>This is an experimental film made up of over 35,000 photographs. It combines an innovative mix of stop motion and live projection mapping techniques. <br /> <br /> Directed by<br /> chassaing.xavier@gmail.com<br /> <br /> Music by <br /> http://www.myspace.com/fedaden</p>
    </div>
    </article>
    </div>
    
<!-- Tile 11 -->
<a href="#portfolio-6" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/S1.jpg" alt="Project Six" />
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-6" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/S2.jpg" alt="Project Six" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">哈利波特</a></h1>
        <span class="projectcat redtxt">介绍</span>
        <div class="lb-desc">
            <p>《哈利·波特》是英国作家J·K·罗琳的魔幻文学系列小说，共7集，其中前六部以霍格沃茨魔法学校为主要舞台，描写的是主人公哈利·波特在霍格沃茨魔法学校六年的学习生活和冒险故事。第七本描写的是哈利·波特在校外寻找魂器并消灭伏地魔的故事。该系列小说被翻译成67种语言，所有版本的总销售量逾5亿本（截至2008年），名列世界上最畅销小说之列。简体中文版由中国人民文学出版社发行，繁体中文版由皇冠出版社出版。美国华纳兄弟电影公司把这7集小说改拍成8部电影，前6集各一部，而第七集分成上下两部。哈利·波特电影系列是全球史上最卖座的电影系列，总票房收入达78亿美元。《哈利·波特》系列是中小学生的指定课外阅读书籍。</a></b>...</p>
           
        </div>
    </div>
    </article>
    </div>
    
<!-- Tile 12 -->
    <div class="tile large live exclude" data-stack="true" data-stops="0,18%" data-speed="1000" data-delay="3000">
      <div class="live-front themecolor">
          <ul id="tweeter"></ul>
        </div>
        <div class="live-back themecolor">
          <span class="tile-text tweeter">影虫网</span>
        </div>
    </div>
    
<!-- Tile 13 -->
<a href="#article-3" class="lightbox" rel="section">
    <div class="tile medium">
          <img class="live-img" src="/media/img/V1.jpg" alt="Article 3" />
        
        <span class="tile-cat teal">四大名捕</span>
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="article-3" class="lb-article">
    <div class="article-img">
      <img class="tile-pre-img" src="/media/img/V2.jpg" alt="Article Three" />
    </div>
    <h1 class="lb-title"><a href="singleblogpost-1.html">四大名捕</a></h1>
    <span class="postcat tealtxt">介绍</span>
    <div class="lb-excerpt">
        <p>《四大名捕》是北京光线影业有限公司出品的武侠电影，由陈嘉上执导，邓超、刘亦菲、郑中基、邹兆龙、黄秋生等人主演。该片为“四大名捕三部曲“的第一部，改编自温瑞安的同名小说。该片讲述了“神侯府”与“六扇门”之间为破同一件大案，诸葛神侯领导着冷血、无情、铁手、追命等四大名捕与六扇门门主展开生死追逐。</a></b>...</p>   
    </div>
    </article>
    </div>
    
<!-- Tile 14 -->
<a href="#portfolio-7" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/Q1.jpg" alt="Project Seven" />
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-7" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/Q2.jpg" alt="Project Seven" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">移动迷宫</a></h1>
        <span class="projectcat redtxt">介绍</span>
        <div class="lb-desc">
            <p>《移动迷宫》（The Maze Runner）是20世纪福克斯电影公司于2013年出品的科幻动作片，影片由韦斯·波尔执导，迪伦·奥布莱恩、卡雅·斯考达里奥、托马斯·桑斯特、威尔·保尔特、李基弘等领衔主演。影片内容改编自詹姆斯·达什纳撰写的同名反乌托邦科幻小说三部曲的第一本，讲述男孩托马斯醒来时发现自己身处一个巨石组成的巨大迷宫中，他只记得自己的名字，和他一样在这个迷宫中的还有一些同样不记得自己是怎么到这里的孩子，每天早晨迷宫的大门会被打开，而到了晚上就会关闭。每个月就会有一个新的男孩到来，但令人意外的是，在托马斯之后来的却是个女孩，她带来了令人惊讶的讯息：只有托马斯才能带领大家走出迷宫，而前提是托马斯必须首先解开埋藏在他记忆深处的黑暗秘密。</a></b>...</p>
          
        </div>
    </div>
    </article>
    </div>
     
<!-- Tile 15 -->
<a href="http://validator.w3.org/check?uri=referer">
    <div class="tile small live" data-stack="true" data-stops="0,100%" data-speed="750" data-delay="2500">
      <div class="live-front mango">
          <img class="live-img" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/articles/html5.png" alt="HTML5 Icon" />
        </div>
        <div class="live-back lime">
          <img class="live-img" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/hyperlink.png" alt="Hyperlink Icon" />
        </div>
    </div>
</a>

<!-- Tile 16 -->
<a href="#portfolio-8" class="lightbox" rel="section">
    <div class="tile small">
    <img class="live-img" src="/media/img/G1.jpg" alt="Project Seven" />
    </div>
</a>
  <!-- Lightbox Article Preview -->
    <div class="tile-pre">
    <article id="portfolio-8" class="lb-portfolio">
    <div class="portfolio-img">
    <img class="tile-pre-img" src="/media/img/G2.jpg" alt="Project Eight" />
    </div>
    <div class="lb-port-cont">
        <h1 class="lb-project"><a href="singleportfolio.html">露水红颜</a></h1>
        <span class="projectcat tealtxt">介绍</span>
        <div class="lb-desc">
            <p>《露水红颜》是2014年北京希世纪影视文化发展有限公司、北京星光灿烂影视文化有限公司、阿里巴巴影业、华图教育集团联合出品的一部爱情电影，改编自张小娴所著的小说《红颜露水》，由高希希执导，刘亦菲，郑智薰，王学兵，陈冲，唐嫣，安志杰等主演。该片主要讲述邢露经历了一段失败的爱情之后再接受一项交易而与年轻画家徐承勋发生的一系列爱情故事并定档于2014年11月7日正式上映。</a></b>...</p>        
        </div>
    </div>
    </article>
    </div>
    
<!-- END TILE CONTENT -->
</section><!-- end #content-mos-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
<section class="mainpage">
<!-- BEGIN TOGGLE CONTENT -->
<div></div>
<div class="toggle-button"><span class="toggle-indicator">+</span></div>

<div class="toggle-content close clearfix">
<!-- Item 1 -->
    <div class="fixed-medium">
        <div class="highlights">
        <img class="themecolor" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/responsive.png" alt="Responsive Design" />
        </div>
        <div class="highlights-txt">
        <h2>Responsive Design</h2>
        <p>The template will automatically resize to fit the browser according to its width. So, this template works not just on your desktop monitor, but your tablet or mobile phone as well!</p>
        </div>
    </div>
<!-- Item 2 -->
    <div class="fixed-medium">
        <div class="highlights">
        <img class="themecolor" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/livetiles.png" alt="Live Tiles" />
        </div>
        <div class="highlights-txt">
        <h2>Live Tiles</h2>
        <p>As inspired by Metro UI, these 'Live' tiles can display more information without utilizing more screen space. Hence, it is not just the perfect solution for small-screened mobile devices, but also attractive.</p>
        </div>
    </div>
<!-- Item 3 -->
    <div class="fixed-medium last">
        <div class="highlights">
        <img class="themecolor" src="http://demo.cssmoban.com/cssthemes2/ftpm_151_bms/images/customizability.png" alt="Customizability" />
        </div>
        <div class="highlights-txt">
        <h2>Customizability</h2>
        <p>Comes pre-loaded with 10 colours and easy-to-use colour tags, as well as multiple-sized tiles which automatically arrange themselves to fit the screen, you can create any layout you can imagine.</p>
        </div>
    </div>
    
</div><!-- end .toggle-content -->
<!-- END TOGGLE CONTENT -->

</section><!-- end .main-page -->
<!-- END MAIN PAGE CONTENT -->

<!-- BEGIN FOOTER -->
<footer class="clearfix">

<div id="footer-social">
<a href="#"><span class="behance-mini"></span></a>
<a href="#"><span class="twitter-mini"></span></a>
<a href="#"><span class="facebook-mini"></span></a>
<a href="#"><span class="linkedin-mini"></span></a>
<a href="#"><span class="pinterest-mini"></span></a>
<a href="#"><span class="dribbble-mini"></span></a>
</div><!-- end #footer-social -->


</footer>
<!-- END FOOTER -->

</section><!-- end #container -->
</div>

</body>
</html>
